*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  scroll-behavior: smooth;
}
html{
    background: #f7f7f7;
  scroll-behavior: smooth;
 
}
/*.navbar{
  background-color: #FFDD02;

  
}
*/
.hero-text{
  font-family: "Righteous";
}
iframe {
  width: 100%;
  height: 100vh;
  border: none;
}

.admin-container {
  overflow: hidden;
}

.login_input {
  border:none;
  outline: none;
  border-bottom: 1px solid white;
}