# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django stuff:
*.sqlite3
db.sqlite3
db.sqlite3


# Environment variables
.env

# Node modules (if applicable)
node_modules/

# IDE/editor configs
.vscode/
.idea/

# Static files cache
staticfiles/
